<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery/js/jquery-3.5.0.min.js"></script>
</head>
<body>
    <style>
        .div-shadow-container{
            background: #FFFFFF;
            width: 100px;
            height: 150px;
        }

        .div-shadow{
            background: #FFFFFF;
            width: 80px;
            height: 80px;
            box-shadow: #0C0C0C 0px 0px 15px 1px ;//边框阴影
        }
    </style>

    <div class="div-shadow-container">
        <div>外边框阴影</div>
        <div class="div-shadow"></div>
    </div>
</body>
</html>