<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery/js/jquery-3.5.0.min.js"></script>
</head>
<body>
<style>
    .container {
        position: relative;
        top: 5px;
    }

    .layout-list-ul {
        list-style-type: none;
        padding: 0;
    }

    .layout-list-li {
        padding: 5px 15px 5px 5px;
        margin-left: 5px;
        font-size: 14px;
        line-height: 2.2;
    }

</style>
<div class="layout-body">

    <div id="data-list" class="container">

    </div>

    <div id="loading" style="width:100%;height:25px;display: flex;flex-direction: column;align-items: center;">
        <sapn id="loading_value" style="font-size:14px;font-family:PingFangSC-Medium,PingFang SC;"></sapn>
    </div>
</div>

<script>
    var currentPage = 1;//当前页码
    var limit =10;//页面条数

    //改变搜索内容
    function changeCondition(){
        $("#data-list").empty();
        currentPage = 1;
        information_display();
    }

    //前端获取后台数据并呈现方法
    function information_display() {
        //$("#data-list").empty()
        $('#loading_value').text("加载中···");
        $('#loading').show();
        var url="/htmlController/queryPageData";
        $.post(url,
            {
                page : currentPage,
                limit: limit,
            },
            function(data) {
                if(data.data.length>0){
                    $.each(data.data, function (index, value) {
                        var data_li ="<div class=\"layout-card\"><ul class=\"layout-list-ul\">"
                         +"<li class=\"layout-list-li\">"
                     +"</li></ul></div>";
                        $("#data-list").append(data_li);
                    });
                    $('#loading').hide();
                }else{
                    $('#loading_value').text("已经到底了！");
                }
            }
        );
    }

    //初始化加载，分页首页数据，输入：每页多少条数据，当前页（默认为1）；输出：当前页数据和总页数
    window.onload = function () {
        $('#loading').hide();
        information_display();
    }

    $(function() {
        // 滑动加载更多
        $(window).scroll(function() {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(window).outerHeight(true);
            if (scrollTop + windowHeight === scrollHeight) { //判断滑动到底部了
                currentPage=currentPage+1;
                information_display();
            }
        });
    });
</script>
</body>
</html>